<p id="notice"><%= notice %></p>

<h1>User Inappropriates</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_inappropriates.each do |user_inappropriate| %>
      <tr>
        <td><%= user_inappropriate.post %></td>
        <td><%= user_inappropriate.user %></td>
        <td><%= link_to 'Show', user_inappropriate %></td>
        <td><%= link_to 'Edit', edit_user_inappropriate_path(user_inappropriate) %></td>
        <td><%= link_to 'Destroy', user_inappropriate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Inappropriate', new_user_inappropriate_path %>
