<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @user_inappropriate.post %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_inappropriate.user %>
</p>

<%= link_to 'Edit', edit_user_inappropriate_path(@user_inappropriate) %> |
<%= link_to 'Back', user_inappropriates_path %>
