



  
<div class="row mb-2">
  <div class="col-md-2"></div>
  <div class="col-8 ">
    <div class="card">
      <div class="card-header1">  
        <h2>  Searched users</h2>
        </div>
        <div class="card-body">

        <% @users.each do |user| %>

            <div class="card float-left " style="width: 100%" >

            <div class="card-body float-left" style="height:auto; min-height: 100px;">
              <% if user.name != nil%>
                <h4>  
                <%=link_to "http://localhost:3000/users/#{user.id}" do%>
                <div class = "card-title"> 
                  <%= user.username %>

                </div>
                  <%= user.name + " " +user.last_name%>
                <% end %>
                </h4>

               
               
              
               
               
               <h4 class="card-title"><%= user.city%>  <%= user.country%> </h4>
               <h4 class="card-title"><%= user.phone%></h4>
              <%else%>
              <h4 class="card-title">No name</h4>
              <%end%>

            </div>
          </div>
        <%end%>

    </div>
  </div>
</div>
<div class="col-md-2"></div>
</div>
