<!DOCTYPE html>
<html>
  <head>
    <title>Project Garcia Sanchez</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
    .like:hover{
      text-decoration: none;
    }

    </style>
  </head>
<body alink="#00FF00" vlink="#00FF00" link="##00FF00" style="background-color: #f1f1f1">
<header>


  <nav class = "nav navbar-expand-md navbar-dark bg-dark ">
    <button class = "navbar-toggler" data-toggle = "collapse" data-target= "#colapse-target" >
      <span class = "navbar-toggler-icon"></span>
    </button>
    <div class = "collapse navbar-collapse" id = "collapse_target">
    
      <%if current_user && current_user.role == 1%>

        <%=link_to my_wall_path ,class: "btn btn-dark", style: "font-size:25px;color:white", title:"My wall" do%>
        <i class='fas fa-user'></i>
        <% end -%>

      <% end -%>

      <%= link_to root_path ,class: "btn btn-dark", style: "font-size:25px;color:white", title:"Home" do%>
        SweetUms
      <% end -%>
  
      <ul class = "navbar-nav mr-auto"></ul>

      <ul class = "navbar-nav">   
  
        <%if current_user && current_user.role == 1 && current_user.black_list == false%>
          <%= link_to new_post_path ,class: "btn btn-dark", style: "font-size:25px;color:white", title:"Create post" do%>
            <i class='fas fa-feather-alt' ></i>
        <% end -%>
          

        <%elsif current_user && (current_user.role == 2 || current_user.role == 3)%>
          <%= link_to dumpster_path ,class: "btn btn-dark", style: "font-size:25px;color:white", title:"Dumpster" do%>
            <i class='fas fa-trash-alt'></i>
          <% end -%>
          
          <%= link_to black_list_path ,class: "btn btn-dark", style: "font-size:25px;color:white", title:"Black list" do%>
          <i class='fas fa-skull' > </i>
          <% end -%>

          <%= link_to users_path ,class: "btn btn-dark", style: "font-size:25px;color:white", title:"Users" do%>
          <i class='fas fa-venus-mars' > </i>
          <% end -%>
          
       
        
          
          
          
        <% end -%>
      </ul>
     
      <div id="searchbar" class="searchbar">
      <%=form_tag search_path, :method => "get" do %>
      <%= text_field_tag :search, params[:search]%>
      <button class = "btn btn-default" type= "submit" title = "Search"><i class='fas fa-search'  style='font-size:25px;color:white;'></i></button>
      <% end %>
      </div>
      

      </form>

      <ul class = "nav navbar-expand-md navbar-dark bg-dark ">
        <% if current_user %>

        <%= link_to edit_registration_path(current_user) ,class: "btn btn-dark", style: "font-size:25px;color:white", title:"Settings" do%>
          <i class='fas fa-cogs' ></i>
          <% end -%>
        <%end%>
      </ul>

      <%if current_user%>
        <%= link_to destroy_user_session_path ,method: :delete ,class: "btn btn-dark", style: "font-size:25px;color:white", title:"Log out" do%>
        <button class="btn btn-dark"> Log Out </button>
        <% end -%>
      <% end -%>

      <%if current_user == nil%>

        <%= link_to new_user_session_path ,class: "btn btn-dark", style: "font-size:25px;color:white", title:"Log in" do%>
        <button class="btn btn-dark"> Log In </button>
        <% end -%>

      <% end -%>

    </div>  
  
  </nav>

</header>
  <nav class="nav navbar-expand-md navbar-dark bg-dark fixed-bottom" id= "navbot">
    <span class = "btn btn-dark " style='font-size:10px'>SweetUms</span>
    <%= link_to "https://www.termsofservicegenerator.net/live.php?token=kUp1CMjZWry51NLBURZw1qHEGs0lH8IC", class: "display btn-outline-light" do%>
      <span class = "btn btn-dark " style='font-size:10px' >Terms and Conditions</span>
    <% end -%>

    <%= link_to "https://www.termsofusegenerator.net/live.php?token=e7Y2MSVOyTqHK8ICYyIuupSXm1dQMzhT", class: "display btn-outline-light" do%>
      <span class = "btn btn-dark " style='font-size:10px' >Use Policy</span>
    <% end -%>
  </nav>


<div class="container" style="background-color: #f8f9fa">
  <% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %> alert-dismissible" role="error" >
      <%= message %>
    </div>
  <% end %>
    <br>
    
    <% if current_user && current_user.username.nil? %>
    <div>
      You dont have complete yours credentials, pls click below <br>
      <%= link_to edit_registration_path(current_user), class: "display btn-outline-light", style: "font-size:25px;", title:"See more" do%>
        Edit user
      <% end -%>
    </div>
    <% end %>
  <%= yield %>
</div>
  <script type="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
  <script type="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
