<!DOCTYPE html>
<html>


  <head>
    <title>Project Garcia Sanchez</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

  </head>

  <body alink="#00FF00" vlink="#00FF00" link="##00FF00" style="background-color:#74C677">

    <% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %> alert-dismissible" role="error" style = "margin-top: 95px">
      
      <%= message %>
    </div>
    <% end %>

    

    <nav class = "nav navbar-expand-md navbar-dark bg-dark fixed-top">
    
    <button class = "navbar-toggler" data-toggle = "collapse" data-target= "#colapse-target" >
      <span class = "navbar-toggler-icon"></span>
    </button>
    <div class = "collapse navbar-collapse" id = "collapse_target">

    <a href = "http://localhost:3000/my_wall" class = "logo" style='font-size:50px;color:white'> <i class='fas fa-user'></i>  </a>

    <span class = "btn btn-dark" style='font-size:50px'>SweetUms</span>
    
    
    <ul class = "navbar-nav mr-auto">   
    </ul>

    <ul class = "navbar-nav">   
    
      
      <a href = "http://localhost:3000/posts/new" class = "btn btn-dark"> <i class='fas fa-pen' style='font-size:36px;color:white'> </i></a>

    </ul>
      <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <div>
          <input type="checkbox" id="User" Value="User">
          <span style = 'color:white'>User</span> 
          
          
          <input type="checkbox" id="User" Value="User">
          <span style = 'color:white'>Post</span> 
          
          <button class = "btn btn dark"><i class='fas fa-search' style='font-size:36px;color:white'></i></button>
          </div>
        </form>

      
    <ul class = "nav navbar-expand-md navbar-dark bg-dark ">
      
      <a href = "http://localhost:3000/posts" class = "btn btn-dark"> <i class='fas fa-home' style='font-size:36px;color:white'> </i></a>
      <a href = "http://localhost:3000/registred_users/1/edit" class = "btn btn-dark"> <i class='fas fa-cogs' style='font-size:36px;color:white'> </i></a>
      <a href = "http://localhost:3000/log_out" class = "btn btn-dark"> <i class='fas fa-sign-out-alt' style='font-size:36px;color:white'> </i></a> 

    </ul>
    
    </div>  
    
  </nav>
  
  <nav class="nav navbar-expand-md navbar-dark bg-dark fixed-bottom" id= "navbot">
    <span class = "btn btn-dark " style='font-size:10px'>SweetUms</span>
    <span class = "btn btn-dark " style='font-size:10px' >Terms and Conditions</span>
    <span class = "btn btn-dark " style='font-size:10px' >Use Policy</span>
  </nav>

    <%= yield %>
     <script type="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
   <script type="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
