<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @admin_inappropriate.post %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @admin_inappropriate.admin %>
</p>

<%= link_to 'Edit', edit_admin_inappropriate_path(@admin_inappropriate) %> |
<%= link_to 'Back', admin_inappropriates_path %>
