<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @admin_black_list.user %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @admin_black_list.admin %>
</p>

<%= link_to 'Edit', edit_admin_black_list_path(@admin_black_list) %> |
<%= link_to 'Back', admin_black_lists_path %>
