<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script type="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
 <script type="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<head>
  <title>Navigation Bar</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
</head>
<body>

  <%= form_with(model: registred_user, local: true) do |form| %>

  <% if registred_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registred_user.errors.count, "error") %> prohibited this registred_user from being saved:</h2>

      <ul>
      <% registred_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row" style="margin-top: 100px">  
  </div>
  <div class="row">
    
  <div class="col-md-3 offset-1">
  <h1>Settings</h1>

   
    
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1" tag = name> Name</span>
      </div>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1" tag = name>Last Name</span>
      </div>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1" tag = name>Email</span>
      </div>
      <%= form.email_field :mail, class: "form-control" %>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1" tag = name>Phone</span>
      </div>
      <%= form.phone_field :phone, class: "form-control" %>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1" tag = name>Country</span>
      </div>
      <%= form.text_field :country, class: "form-control" %>
    </div>
     <select class = "custom-select mb-3">
        <option value="Santiago">Santiago</option>
        <option value="Rancagua">Rancagua</option>
        <option value="Viña del Mar">Viña del Mar</option>
        <option value="Pucon">Pucon</option>
      </select> 

    

    <div> 
      <%= form.submit "Update" ,class: "btn btn-outline-dark active"%>
      <a href="http://localhost:3000/1/edit2"><%= form.submit "Change Password" ,class: "btn btn-outline-dark active"%></a>
    </div>

  </div>
  </div> 

  <% end %>
</body>
</html>

