<p id="notice"><%= notice %></p>

<h1>Registred Users</h1>

<table>
  <thead>
    <tr>
      <th>Mail</th>
      <th>Password</th>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registred_users.each do |registred_user| %>
      <tr>
        <td><%= registred_user.mail %></td>
        <td><%= registred_user.password %></td>
        <td><%= registred_user.username %></td>
        <td><%= link_to 'Show', registred_user %></td>
        <td><%= link_to 'Edit', edit_registred_user_path(registred_user) %></td>
        <td><%= link_to 'Destroy', registred_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registred User', new_registred_user_path %>
