
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div class="row" style="margin-top: 100px">   
</div>
<p>
  <strong>Name:</strong>
  <%= @registred_user.name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @registred_user.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @registred_user.phone %>
</p>
<p>
  <strong>Country:</strong>
  <%= @registred_user.country %>
</p>
<p>
  <strong>city:</strong>
  <%= @registred_user.city %>
</p>
<p>
  <strong>Mail:</strong>
  <%= @registred_user.mail %>
</p>

<p>
  <strong>Password:</strong>
  <%= @registred_user.password %>
</p>

<p>
  <strong>Username:</strong>
  <%= @registred_user.username %>
</p>


<%= link_to 'Edit', edit_registred_user_path(@registred_user) %> |
<%= link_to 'Back', registred_users_path %>
