<%= form_with(model: inappropriate, local: true) do |form| %>
  <% if inappropriate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inappropriate.errors.count, "error") %> prohibited this inappropriate from being saved:</h2>

      <ul>
      <% inappropriate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :registred_user_id %>
    <%= form.text_field :registred_user_id %>
  </div>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.text_field :post_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
