<p id="notice"><%= notice %></p>

<h1>Inappropriates</h1>

<table>
  <thead>
    <tr>
      <th>Registred user</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inappropriates.each do |inappropriate| %>
      <tr>
        <td><%= inappropriate.user %></td>
        <td><%= inappropriate.post %></td>
        <td><%= link_to 'Show', inappropriate %></td>
        <td><%= link_to 'Edit', edit_inappropriate_path(inappropriate) %></td>
        <td><%= link_to 'Destroy', inappropriate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inappropriate', new_inappropriate_path %>
