<p id="notice"><%= notice %></p>

<h1>Comment Images</h1>

<table>
  <thead>
    <tr>
      <th>Link</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comment_images.each do |comment_image| %>
      <tr>
        <td><%= comment_image.link %></td>
        <td><%= comment_image.comment %></td>
        <td><%= link_to 'Show', comment_image %></td>
        <td><%= link_to 'Edit', edit_comment_image_path(comment_image) %></td>
        <td><%= link_to 'Destroy', comment_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment Image', new_comment_image_path %>
