<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @admin_dumpster.post %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @admin_dumpster.admin %>
</p>

<%= link_to 'Edit', edit_admin_dumpster_path(@admin_dumpster) %> |
<%= link_to 'Back', admin_dumpsters_path %>
