<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @profile.photo %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @profile.biography %>
</p>

<p>
  <strong>Geofence:</strong>
  <%= @profile.geofence %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Registred user:</strong>
  <%= @profile.registred_user %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
