 <head>

<body>
  

<div class="row" style="margin-top: 50px">
  
  <div class="col-md-5 offset-1">
    <h1>Post Edit</h1>
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <div class="input-gruop-prepend"> 
    <span class = "input-group-text "id="basic-addon1"> Title</span>

    </div>
    <%= form.text_field :title, class: 'form-control', placeholder: "title" %>
  </div>

  <div class="input-group mb-3">
    <div class="input-gruop-prepend"> 
    <span class = "input-group-text "id="basic-addon1"> Description</span>

    </div>
    <%= form.text_field :description, class: 'form-control', placeholder: "Description" %>
  </div>

  <div class="input-group mb-3">
    <div class="input-gruop-prepend"> 
    <span class = "input-group-text "id="basic-addon1"> Body</span>

    </div>
    <%= form.text_area :body, class: 'form-control', placeholder: "Please, be nice!" %>
  </div>

  <div class="input-group mb-3">
    <div class="input-gruop-prepend"> 
    <span class = "input-group-text "id="basic-addon1"> Country</span>

    </div>
    <%= form.text_field :country, class: 'form-control', placeholder: "Country" %>
  </div>

  <div class="input-group mb-3">
    <div class="input-gruop-prepend"> 
    <span class = "input-group-text "id="basic-addon1"> Title</span>

    </div>
    <%= form.text_field :city, class: 'form-control', placeholder: "City" %>
  </div>

  <div class="actions">
    <%= form.submit "Update", class: 'btn btn-dark active'%>
  </div>
<% end %>
</div>
  </div>
  <div class="col-md-2"></div>
</body>
