<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <h2>Dumpster</h2>

    <% if current_user.role == 2%>
      <% posts = Post.where(dumpster: true, city: current_user.city) %>
        <td><%= 'Posts'%></td>
    <% elsif current_user.role == 3%>
    <% posts = Post.where(dumpster: true) %>
        <td><%= 'Posts'%></td>
    <% end -%>

  
    <% posts.each do |p| %>
      <tr>
        <td><%= p.title%></td>
        <td><%= p.user.username%></td>
        
        <td><%= link_to 'Show', p %></td>
        <td><%= link_to 'Edit', edit_post_path(p) %></td>
        <td><%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <%= form_with(model: p, local: true) do |f| %>
            <%=f.submit 'Dumpster'%>
            <%=f.check_box :dumpster%>
          <% end -%>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>


