<p id="notice"><%= notice %></p>

</table>

<br>
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>  

<h1>Hello You!</h1>

<div class="row">
    <dir class="col-md-1">
      <h3><%= link_to "Post", root_path %></h3>
      <h3>My Wall</h3>
      
    </dir>

    <dir class="col-md-7">
      <% @posts.each do |p| %>
        <h2><%= link_to p.title, p%></h2>
        <p><%= p.description %></p>
        <p><%= link_to "Edit", edit_post_path(p) %></p>
        <p><%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' } %></p>

        <hr />
      <% end %>
    </dir>

    <dir class="col-md-4">
      <%= link_to 'New Post', new_post_path %>

    </dir>
</div>



</body>
</html>
