

<head>

</head>
<body>

<div class="row" style="margin-top: 100px">
  <div class="col-md-2"></div>
  <div class="col-md-6">
  <h1><%= @post.title %></h1>
  </div>
  <div class="col-md-4">
    <h2>Were will be images and links :D</h2></div>
  
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <div class="md-form">
        <h6><%= @post.description %></h6>
        <hr />
      </div>
      <div class="md-form">
        <textarea id="form7" class="md-textarea form-control"  rows="8" readonly><%= @post.body %></textarea>
         <hr />
        
      </div>
      <div>

        <strong>Lotation:</strong>
        <%= @post.city %>
        <%= @post.country %>
        <hr />
      </div>
      <div class="col-md-4">
       
        <h2>Comments</h2>
        <% @post.comment.each do |comment| %>   
          <p>
            <strong>Comment:</strong>
            <%= comment.content %>
          </p>
        <% end %>
        <%= form_with(model: [ @post, @post.comment.build ], local: true) do |form| %>
          <p>
            <%= form.label :content %><br>
            <%= form.text_area :content%>
          </p>
          <p>
            <div class="row" style="margin-bottom: : 35px">
              <%= form.submit %>
            </div>
          </p>
        <% end %>
      </div>
    </div>
</div>

</body>

