

<head>

</head>
<body>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <div class="row">

      <div class="col-md-9">
        <h1><%= @post.title %></h1>
      </div>
      <div class="col-md-3">
        
        <%= form_for(:follow, url: create_follow_path) do |f|%>
          
          <%=f.submit class: "btn btn-dark"%>
        <% end -%>

          

      </div>  

    </div>


  <div>
    <%user = User.find(@post.user_id) %>
    <%=link_to "http://localhost:3000/users/#{user.id}" do%>
    <div class = "btn btn-outline-light active"><strong>Author:</strong> <%= user.username %></div>
    <% end %>
  </div>
  
  </div>
  <div class="col-md-4">
    <h2>Were will be images and links :D</h2></div>
  
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <div class="md-form">
        <h6><%= @post.description %></h6>
        <hr />
      </div>
      <div class="md-form">
        <textarea id="form7" class="md-textarea form-control"  rows="8" readonly><%= @post.body %></textarea>
         <hr />
        
      </div>
      <div>

        <strong>Location:</strong>
        <%= @post.city %>,
        <%= @post.country %>
        <hr />
      </div>
      <div class="thumbnail thumb-box"></div>

          <div class="caption" style="text-align:center;">
            <%if current_user && current_user.role == 1%>
            <%= link_to like_post_path(@post), class: "like", method: :put do %>
              <button type="button" class="btn btn-info" aria-label="Left Align">
                <span class="fa fa-thumbs-up" aria-hidden="true"></span>
                <span class="badge"><%= @post.get_upvotes.size %></span>
              </button>
            <% end %>
            <%else%>
              <button type="button" class="btn btn-info" aria-label="Left Align">
                <span class="fa fa-thumbs-up" aria-hidden="true"></span>
                <span class="badge"><%= @post.get_upvotes.size %></span>
              </button>
            <% end -%>

            <%if current_user && current_user.role == 1%>
            <%= link_to unlike_post_path(@post), class: "like", method: :put do %>
              <button type="button" class="btn btn-info" aria-label="Left Align">
                <span class="fa fa-thumbs-down" aria-hidden="true"></span>
                <span class="badge"><%= @post.get_downvotes.size %></span>
              </button>
            <% end %>
            <%else%>
              <button type="button" class="btn btn-info" aria-label="Left Align">
                <span class="fa fa-thumbs-down" aria-hidden="true"></span>
                <span class="badge"><%= @post.get_downvotes.size %></span>
              </button>
            <% end -%>
          </div>

      <div class="col-md-4">
       
        <h2>Comments</h2>
        <% @post.comment.each do |comment| %>

          <p>
          <%user = User.find(comment.user_id) %>
          <%=link_to "http://localhost:3000/users/#{user.id}" do%>
          <strong><%= user.username %>:</strong> 
          <% end %>  
            <%= comment.content %>
            <%if current_user.id == comment.user_id %>
              <%= link_to 'Edit', edit_post_comment_path(comment) %>
            <% end %>
          </p>

        <% end %>

        <%if current_user && current_user.role == 1%>
        <%= form_with(model: [ @post, @post.comment.build ], local: true) do |form| %>
          <p>
            <%= form.text_area :content, placeholder:"Tap your reply!"%>

          </p>
          <p>
            <div class="row" style="margin-bottom: : 35px">
              <%= form.submit class: "btn btn-dark"%>
            </div>
          </p>
        <% end %>
        <% end -%>
      </div>
    </div>
</div>

</body>

