

<head>

</head>
<body>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <div class="row">

      <div class="col-md-7">
        <h1><%= @post.title %></h1>
        
       
      </div>
      <div class="col-md-5">
          <%if current_user && current_user.role == 1%>
          <%= link_to like_post_path(@post), class: "like", method: :put do %>
            <button type="button" class="btn btn-dark" aria-label="Left Align">
              <span class="fa fa-thumbs-up" aria-hidden="true"></span>
              <span class="badge"><%= @post.get_upvotes.size %></span>
            </button>
          <% end %>
          <%else%>
            <button type="button" class="btn btn-dark" aria-label="Left Align">
              <span class="fa fa-thumbs-up" aria-hidden="true"></span>
              <span class="badge"><%= @post.get_upvotes.size %></span>
            </button>
          <% end -%>

          <%if current_user && current_user.role == 1%>
          <%= link_to unlike_post_path(@post), class: "like", method: :put do %>
            <button type="button" class="btn btn-dark" aria-label="Left Align">
              <span class="fa fa-thumbs-down" aria-hidden="true"></span>
              <span class="badge"><%= @post.get_downvotes.size %></span>
            </button>
          <% end %>
          <%else%>
            <button type="button" class="btn btn-dark" aria-label="Left Align">
              <span class="fa fa-thumbs-down" aria-hidden="true"></span>
              <span class="badge"><%= @post.get_downvotes.size %></span>
            </button>
          <% end -%>
        <button class="btn btn-dark">Follow</button>
          <%if current_user && (current_user.role == 3 || current_user.role == 2)%>
          
          <%= form_with(model: @post, local: true) do |f| %>
            <%=f.submit 'Dumpster', class: "btn btn-dark"%>
            <%=f.check_box :dumpster, class: "btn btn-dark"%>
          <% end -%>
          <% end -%>
      </div>  

    </div>
    <div class="row">
      <%user = User.find(@post.user_id) %>
      <u><%= link_to user.username,  user_path(id: user.id), class: 'btn btn-outline-light active', title: 'Go to user profile' %>
      </u>
    </div>  
  
  </div>
  

</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <div class="md-form">
        <h6><%= @post.description %></h6>
        <hr />
      </div>
      <div class="md-form">
        <textarea id="form7" class="md-textarea form-control"  rows="8" readonly><%= @post.body %></textarea>
         <hr />
        
      </div>
      <div>

        <strong>Location:</strong>
        <%if current_user.city == "Santiago"%>
          <strong>Current location:</strong> <br>
          <iframe width="600" height="450" frameborder="0" style="border:0;margin-bottom:10px" name="Santiago" 
          src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJL68lBEHFYpYRMQkPQDzVdYQ&key=AIzaSyDrN3ghKEWh72JEWFtQByn3y3-Bj-J32SI" allowfullscreen></iframe>
          <%elsif current_user.city == "Rancagua"%>
          <strong>Current location:</strong> <br>
          <iframe width="600" height="450" frameborder="0" style="border:0" name="Rancagua" 
          src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ0xPvvWdDY5YR91StZoP8c9k&key=AIzaSyDrN3ghKEWh72JEWFtQByn3y3-Bj-J32SI" allowfullscreen></iframe>
          <%elsif current_user.city == "Viña del mar"%>
          <strong>Current location:</strong> <br>
          <iframe width="600" height="450" frameborder="0" style="border:0" name="Viña del mar" 
          src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJVRLU6oTeiZYRP0E933beX44&key=AIzaSyDrN3ghKEWh72JEWFtQByn3y3-Bj-J32SI" allowfullscreen></iframe>
          <% end -%>
        <hr />
      </div>


  
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-8">
         
          <h2>Comments</h2>
          <% @post.comment.each do |comment| %>

            <p>
            <%user = User.find(comment.user_id) %>
            <%= link_to user.username + ":",  user_path(id: user.id), class: 'btn btn-outline-light active', title: 'Go to user profile' %>
              <%= comment.content %>

              <%if current_user && current_user.id == comment.user_id %>
                <%= link_to 'Edit', edit_post_comment_path(comment) %>
              <% end %>
            </p>

          <% end %>

          <%if current_user && current_user.role == 1%>
          <%= form_with(model: [ @post, @post.comment.build ], local: true) do |form| %>
            <p>
              <%= form.text_area :content, placeholder:"Tap your reply!"%>
              <%= form.submit class: "btn btn-dark", style: "float: right;"%>
            </p>
          <% end %>
          <% end -%>
        </div>
        
    </div>
</div>
      <div class="col-md-3">
      
          <%(0...@post.images.count).each do |image|%>
            <%= image_tag(@post.thumbnail(image), size: "280x280")%>    
          <% end -%>
          <%if @post.files.attachment != nil%>
          <%= link_to "View files", @post.files, download: ''%>
          <% end -%>
      </div>

</body>

