
<!DOCTYPE html>
<html>
<title>Navigation Bar</title>
<head>
</head>
<body >  
  

<div class = "row">
      
    <div class="col-md-2" ></div>
    <div class="col-md-8">
      <div class="row">
      <div class="col-md-12">
        <h1 class="display-2"> <%= @user.name%> <%= @user.last_name%> </h1>
        <div class="card" style="background-color: white">
          <div class="row" >
            <div class="col-md-1"></div>
            <div class="col-md-11">
              <h4> <%= @user.username%> </h4>
              <h4> <%= @user.phone%></h4>
              <h4> <%= @user.city%></h4>
              <h4> <%= @user.country%></h4>
              <h4> <%= @user.bio%> </h4> 
            </div>
              <ul>
                <li>Posts made:  <%=@didit %> </li>
              </ul>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>

    <br>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4" >
        <select class="browser-default custom-select">
          <option value="1">Newest</option>
          <option value="2">Trendding tropic</option>
          <option value="3">Oldest</option>
        </select>
      </div>
    </div>
    <hr />

    <% @posts.where(user_id: current_user.id).each do |p| %>
      <div class="container" style="background-color:#f8f9fa">
      <div class="col-md-14"></div>
      
      <div class="row">
      <div class="col-md-9">
        <%= link_to p.title, p, class: 'display-3 btn-outline-light', title: 'See more'%>
      </div>
      <div class="col-md-3">
        <div class = " btn btn-outline-light active"><%= link_to 'Edit ', edit_post_path(p) %></div>
        
        <div class = " btn btn-outline-light active"><%= link_to 'Delete', p, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
      </div>
      
      <div class="row">
      <div class = "btn btn-outline-light active"><%= p.description %></div>
      </div>

      <div class="row">
          <%user = User.find(p.user_id) %>
          <%= link_to user.username,  user_path(id: user.id), class: 'btn btn-outline-light active', title: 'Go to user profile' %>
      </div>
      
      <!-- wea 1-->
      <div class="row">   
      <div class="col-md-9">   
      <div class = "row" >
        <div class="btn btn-outline-light active ">
          <%= p.created_at %>   
        </div>  
      </div>
      </div>

      <div class="col-md-3" style="float: right;">
        <div class="caption" style="text-align:center;">
          <%if current_user && current_user.role == 1%>
          <%= link_to like_post_path(p), class: "like", method: :put do %>
            <button type="button" class="btn btn-dark" aria-label="Left Align">
              <span class="fa fa-thumbs-up" aria-hidden="true"></span>
              <span class="badge"><%= p.get_upvotes.size %></span>
            </button>
          <% end %>
          <%else%>
            <button type="button" class="btn btn-dark" aria-label="Left Align">
              <span class="fa fa-thumbs-up" aria-hidden="true"></span>
              <span class="badge"><%= p.get_upvotes.size %></span>
            </button>
          <% end -%>

          <%if current_user && current_user.role == 1%>
          <%= link_to unlike_post_path(p), class: "like", method: :put do %>
            <button type="button" class="btn btn-dark" aria-label="Left Align">
              <span class="fa fa-thumbs-down" aria-hidden="true"></span>
              <span class="badge"><%= p.get_downvotes.size %></span>
            </button>
          <% end %>
          <%else%>
            <button type="button" class="btn btn-dark" aria-label="Left Align">
              <span class="fa fa-thumbs-down" aria-hidden="true"></span>
              <span class="badge"><%= p.get_downvotes.size %></span>
            </button>
          <% end -%>
        </div>
      </div>
        <button type="button" class="btn btn-dark" aria-label="Left Align" style = "font-size:10px">Solved</button>
          
      </div> 
      <br >
       <div class="row"></div>
    </div>
    <hr />    
    <% end %>
    </div>
  <div class="col-md-2" ></div>
</div>
</body>
</html>
