<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

      </ul>
    </div>
  <% end %>


  <div class="input-group mb-3">
    <%= f.text_field :username, class: "form-control", placeholder: "Userame:" %>
  </div>

  <div class="input-group mb-3">
    <%= f.text_field :name, autocomplete: "name", class: "form-control", placeholder: "Name:" %>
  </div>

  <div class="input-group mb-3">
    <%= f.text_field :last_name, autocomplete: "Last Name", class: "form-control", placeholder: "Last Name:" %>
  </div>
  
  <div class="input-group mb-3">
    <%= f.text_field :phone, class: "form-control", placeholder: "Phone:" %>
  </div>

  <div class="input-group mb-3">
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password:" %>
  </div>

  <div class="actions">
    <%= f.submit data-disable-with:"Save changes"%>
  </div>
<% end %>
