

<table class="table table-condensed">
  <thead>
    <tr>
      
      <th>Username</th>
      <th>Name</th>
      <th>Last name</th>
      <th>Last conection</th>
    </tr>
  </thead>

  <tbody>
    <h2>Users</h2>

    <% users = User.where(role: 1) %>
        <td><strong>Users</strong></td>
    <% users.each do |user| %>
      <tr>
        <td><%= user.username%></td>
        <td><%= user.name%></td>
        <td><%= user.last_name%></td>
        <td><%= user.last_sign_in_at%></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <%= form_with(model: user, local: true) do |f| %>
            <%=f.check_box :black_list%>
            <%=f.submit "Black List"%>
          <% end -%>
        </td>
      </tr>
    <% end %>

    <%if current_user && current_user.role == 3%>
      <% userss = User.where(role: 2) %>
          <td><strong>Admins</strong></td>
      <% userss.each do |u| %>
        <tr>
          <td><%= u.username%></td>
          <td><%= u.name%></td>
          <td><%= u.last_name%></td>
          <td><%= u.last_sign_in_at%></td>
          <td><%= link_to 'Show', u %></td>
          <td><%= link_to 'Edit', edit_user_path(u) %></td>
          <td><%= link_to 'Destroy', u, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <% userss = User.where(role: 3) %>
          <td><strong>System admins</strong></td>
      <% userss.each do |u| %>
        <tr>
          <td><%= u.username%></td>
          <td><%= u.name%></td>
          <td><%= u.last_name%></td>
          <td><%= u.last_sign_in_at%></td>
          <td><%= link_to 'Show', u %></td>
        </tr>
      <% end %>


    <% end -%>

  </tbody>
<%= link_to 'New User', new_user_path, class: "btn btn-dark", style: "color:white; float: right;"%>
</table>

<br>

