 <!DOCTYPE html>
 <html>
 <head>
   <title>Welcome to SweetUms!</title>
 </head>
 <body>
  <nav class = "nav navbar-expand-md navbar-dark bg-dark fixed-top">
    
    <button class = "navbar-toggler" data-toggle = "collapse" data-target= "#colapse-target" >
      <span class = "navbar-toggler-icon"></span>
    </button>
    <div class = "collapse navbar-collapse" id = "collapse_target">

    <span class = "btn btn-dark " style='font-size:50px'>SweetUms</span>
    </div>
    
  </nav>
  <div class = "offset-md-4" style="margin-top: 100px">
  <h1>Welcome To SweetUms!</h1>  
  </div>
  
  <div class = "row">

    <div class = "col-md-3 offset-md-3">
      
      <%= form_for(:session, url: log_in_path) do |f| %>

      <div class="input-group mb-3">
       <%= f.email_field :mail, class: 'form-control', placeholder: "Email" %>            
      </div>

      <div class="input-group mb-3">
        <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
      </div>

      <%= f.submit "Log in", class: "btn btn-outline-dark" %>
      <% end -%>
    </div>

    <div class = "col-md-3">
      
      <%= form_for(:registration, url: sign_up_path) do |f| %>
      <div class="input-group mb-3">
        <%= f.email_field :mail, class: 'form-control', placeholder: "Email" %>
      </div>

      <div class="input-group mb-3">
        <%= f.text_field :username, class: 'form-control', placeholder: "Username" %>
      </div>

      <div class="input-group mb-3">
        <%= f.text_field :name, class: 'form-control', placeholder: "Name" %>
      </div>
      
      <div class="input-group mb-3">
        <%= f.text_field :last_name, class: 'form-control', placeholder: "Last Name" %>
      </div>

      <div class="input-group mb-3">
        <%= f.phone_field :phone, class: 'form-control', placeholder: "Phone" %>
      </div>

      <div class="input-group mb-3">
        <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
      </div>
      
      <div class="input-group mb-3">
        <%= f.password_field :confirmed_password, class: 'form-control', placeholder: "Confirm Password" %>
      </div>
      
      <div>
        <%= f.check_box :terms %> I accept <%= link_to 'Terms and Conditions' , 'https://google.com'%>
      </div>

      <div>
        <%= f.check_box :policy  %> I accept <%= link_to 'Use Policy' , 'https://google.com'%> 
      </div>
      
      <div> 
      <%= f.submit "Sign Up" ,class: "btn btn-outline-dark"%>
      </div>
      

       

    <% end -%>
    </div>
  </div>
    
  <br>

 </body>
 </html>
 



