<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @system_admin_inappropriate.post %>
</p>

<p>
  <strong>System admin:</strong>
  <%= @system_admin_inappropriate.system_admin %>
</p>

<%= link_to 'Edit', edit_system_admin_inappropriate_path(@system_admin_inappropriate) %> |
<%= link_to 'Back', system_admin_inappropriates_path %>
