<p id="notice"><%= notice %></p>

<h1>System Admins</h1>

<table>
  <thead>
    <tr>
      <th>Mail</th>
      <th>Password</th>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @system_admins.each do |system_admin| %>
      <tr>
        <td><%= system_admin.mail %></td>
        <td><%= system_admin.password %></td>
        <td><%= system_admin.username %></td>
        <td><%= link_to 'Show', system_admin %></td>
        <td><%= link_to 'Edit', edit_system_admin_path(system_admin) %></td>
        <td><%= link_to 'Destroy', system_admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New System Admin', new_system_admin_path %>
