<p id="notice"><%= notice %></p>

<p>
  <strong>Mail:</strong>
  <%= @system_admin.mail %>
</p>

<p>
  <strong>Password:</strong>
  <%= @system_admin.password %>
</p>

<p>
  <strong>Username:</strong>
  <%= @system_admin.username %>
</p>

<%= link_to 'Edit', edit_system_admin_path(@system_admin) %> |
<%= link_to 'Back', system_admins_path %>
