<p id="notice"><%= notice %></p>

<h1>System Admin Dumpsters</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>System admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @system_admin_dumpsters.each do |system_admin_dumpster| %>
      <tr>
        <td><%= system_admin_dumpster.post %></td>
        <td><%= system_admin_dumpster.system_admin %></td>
        <td><%= link_to 'Show', system_admin_dumpster %></td>
        <td><%= link_to 'Edit', edit_system_admin_dumpster_path(system_admin_dumpster) %></td>
        <td><%= link_to 'Destroy', system_admin_dumpster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New System Admin Dumpster', new_system_admin_dumpster_path %>
