<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @system_admin_dumpster.post %>
</p>

<p>
  <strong>System admin:</strong>
  <%= @system_admin_dumpster.system_admin %>
</p>

<%= link_to 'Edit', edit_system_admin_dumpster_path(@system_admin_dumpster) %> |
<%= link_to 'Back', system_admin_dumpsters_path %>
